{{ partial "header.html" . }}
{{ partial "sidebar.html" . }}

<div class="main-content">
	{{ if .Site.Data.experience }}{{ partial "experience.html" . }}{{ end }}
</div>



<div class="main-content">
	{{ partial "contact.html" . }}		
</div>

{{ partial "footer-scripts.html" . }}
	