{{ $experience := .Site.Data.experience }}

<section id="experience" class="green">
  <h2 class="heading">{{ $experience.title }}</h2>
  <div id="timeline">
    {{ range $index, $element := $experience.experience }}
    <div class="timeline-item clearfix">
      <div class="timeline-icon"></div>
      
      <div class="timeline-content {{ if eq (mod $index 2) 0 }} right {{ end }}">
        <span class="date">{{ $element.timeperiod }}</span>
		<h1 class="experience my-2">{{ $element.company }}</h1>
		<h5 class="experience-comp my-2">{{ $element.title }}</h5>
        {{ $website := $element.website }}
        {{ if $website }}
        <a target="_blank" href="{{ $website }}">
          <i class="fas fa-link"></i>
          {{ $website }}
        </a>
        {{ end }}
        <p class="experience my-2">{{ $element.description }}</p>
      </div>
    </div>
    {{ end }}
  </div>

</section>